* {
    color: white;
    font-family: roboto, sans;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

body {
    background: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

#status {
    height: 99vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.card {
    background: #222;
}

#clocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#time, #running {
    font-size: 2rem;
    padding: 1rem;
}

tr.done td {
    color: #aaa;
}

#events {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: 1;
    gap: 0.5rem;
}

#details {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: 1;
}

#events tr td {
    cursor: pointer;
    min-width: 12ch;
}

#events tr.running td.title {
    font-weight: bold;
}

#events tr.stopped a {
    color: #ccc;
}

#details img {
    float: right;
}

#details img {
    width: 25vh;
    padding: 1rem;
}

#meters {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    text-align: center;
    width: 10vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#rms, #peak {
    color: white;
    background: green;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 0%;
    transition: all 1s linear;
    vertical-align: bottom;
}

#rmsLabel, #peakLabel {
    font-size: 2rem;
}

#peak {
    color: black;
    background: #66ff66;
}

#peak.mediumPeak {
    color: black;
    background: yellow\!important;
    transition: all 1s linear;
}

#peak.loudPeak {
    color: white;
    background: red\!important;
    transition: all 1s linear;
}

#rms.loudRms {
    color: white;
    background: red\!important;
    transition: all 1s linear;
}

#rms.silent {
    color: black;
    background: yellow;
    transition: all 1s linear;
}

#rightIn {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

#rightOut {
    margin-left: 0.5rem;
}

adiv {
    border: red 1px solid;
}
