/* DSEG7 Classic */

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('DSEG7Classic-Bold.woff2') format('woff2'),
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('DSEG7Classic-BoldItalic.woff2') format('woff2'),
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('DSEG7Classic-Italic.woff2') format('woff2'),
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('DSEG7Classic-Light.woff2') format('woff2'),
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('DSEG7Classic-LightItalic.woff2') format('woff2'),
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('DSEG7Classic-Regular.woff2') format('woff2'),
  font-weight: normal;
  font-style: normal;
}

